/* ============================
 * Member Profile Stylesheet
 * ============================ */
#member-profile{

  .profile{
    background-color: #FFF;
    z-index: 1;
    top: -40px;
    position: relative;
    box-shadow: 0 0 25px rgba(0,0,0,0.4);
    padding: 145px 40px 100px;
    border-top: 8px solid $secondary-color;
    border-bottom: 8px solid $secondary-color;

    .member-picture{
      padding: 5px;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      top: -116px;
      background-color: #efefea;
      box-shadow: 0 0 12px rgba(0,0,0,0.6);
      transform: translateX(-50%);
    }

    .social-items{
      position: absolute;
      top: 60px;
      left: 0;

      .social-item{
        width: 48px;
        height: 48px;
        display: block;
        line-height: 48px;
        font-size: 20px;
        background-color: $secondary-color;
        color: white;
        text-align: center;
        box-shadow: inset 0 -1px 2px rgba(0,0,0,0.15);

        &.facebook{ background-color: #4267B2; }
        &.linkedin{ background-color: #0077B5; }
        &.google{ background-color: #D54B3D; }
      }
    }

    .member-basic-info{

      .member-name {
        text-transform: uppercase;
        color: $secondary-color;
        letter-spacing: 1px;
        font-size: 32px;
        margin-bottom: 12px;
      }

      .member-role{
        font-weight: 600;
        font-size: 16px;
        color: $third-color;
        position: relative;
        background-color: #E8E8E8;
        display: inline-block;
        padding: 0 35px;
        height: 30px;
        line-height: 30px;
        border-radius: 15px;
      }
    }

    .profile-content{
      margin-top: 30px;

      .profile-content-block{
        margin-bottom: 40px;

        .content-block-title{
          margin-bottom: 30px;
        }

        .content-block-context{
          padding: 0 20px;
        }
      }
    }
  }
}