#page-header{
  position: fixed;
  width: 100%;
  z-index: 5;
  color: #EEE;
  overflow: hidden;

  &:before{
    content: '';
    height: 100px;
    width: 0%;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 50%;
    background-color: $secondary-color;
    transition: all ease-out 300ms 20ms;
  }

  &.show-bg{
    box-shadow: 0 1px 4px rgba(2,84,125, 0.3);

    &:before{
      width: 100%;
      left: 0%;
      opacity: 1;
    }
  }

  .header-navbar{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    color: inherit;

    .nav-logo{
      position: relative;

      img{
        height: 44px;
      }

      .header-title{
        margin-left: 20px;
        font-weight: 600;
        font-size: 18px;
        letter-spacing: 1px;
      }
    }

    .nav{
      display: flex;
      align-items: center;
      color: inherit;
      position: relative;

      li{
        color: inherit;
        margin-left: 20px;

        a{
          color: inherit;
          text-transform: uppercase;
          font-weight: 600;
          font-size: 13px;
          letter-spacing: 1px;
          opacity: 0.87;
          transition: all ease-in 150ms 20ms;

          &:hover{
            opacity: 1;
            transition: all ease-out 150ms 20ms;
            text-shadow: 1px 1px $secondary-color;
          }
        }
      }
    }
  }
}