/* ======================
* List
====================== */
ul{
    /* === Horizontal List === */
    &.horizontal-list{
        list-style: none;
        padding: 0;
      
        li{
          list-style: none;
          display: inline-block;
          padding: 0;
          text-indent: 0;
        }
    }
}


/* ======================
* Button
====================== */
a.btn, .btn, button.btn{
  padding: 10px 40px 8px;
  text-transform: uppercase;
  border-radius: 21px;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 1px;

  &.btn-primary {
    background-color: $third-color;
    border-color: $third-color;

    &:hover{
      background-color: $secondary-color;
      border-color: $third-color;
    }
  }
}


/* ======================
* Specials
====================== */
.member-social-links{
  .social-item{
    padding: 0 4px;
    font-size: 20px;
    color: $light-text-color;
    cursor: pointer;

    &.lg{
      font-size: 25px;
      padding: 0 6px;
    }
  }
}
