$primary-color: #02BEC4;
$secondary-color: #02547D;
$third-color: #0285A8;
$fourth-color: #A9E8DC;
$light: #E1F7E6;
$dim-light: #A9E8DC;

$angular-color: #DD1A16;
$react-color: #7DF0FF;
$ruby-color: #CC0000;

$light-gray:#F9F9F9;

$gray: #888;

$text-color: #555;
$small-text-color: #666;
$light-text-color: #a9a9a9;

